<h3>
  Anagrams
</h3>
<p>Two words are anagrams if they contain the exact same letters in a different order. For example, "ruby" and "bury" are anagrams because they contain the same letters.</p>
<form action="/anagrams_result">
  <div class="form-group">
     <label for="first_word">First word or phrase to compare:</label>
     <input id="first_word" name="first_word" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="second_word">Second word or phrase to compare:</label>
     <input id="second_word" name="second_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
