<h1>Word Analyzer</h1>
<h3>Anagrams</h3>
<p>Check if two words are anagrams. If they are, your method should return something like this: "These words are anagrams."</p>

<p>Account for the possibility that words might have different cases but should still be anagrams. For instance, "Tea" is still an anagram of "Eat".</p>

<h3>Palidromes</h3>
<p>If a word or phrase is an anagram, check if it's also a palindrome. The method should return something like: "These words are palindromes."</p>

<h3>Is it even a word?</h3>
<p>Add a rule to check if the inputs are words. Words can only be anagrams or anagrams if they are, in fact, actually words. (For instance, "yurb" isn't an anagram of "ruby" because "yurb" isn't a real word.) A word must contain a vowel (a, i, e, o, u) or y. Otherwise it's not a word. If one of the inputs has no vowels, your method should return something like this: "You need to input actual words!"</p>

<h3>Antigrams</h3>
<p>If phrases aren't anagrams, the method should check whether they are actually "antigrams." For our purposes, a word is an "antigram" of another word if no letters match. For example, "hi" has no matches with "bye". The method should return something like this if there are no letter matches: "These words have no letter matches and are antigrams."</p>

<h3>Phrases</h3>
<p>Account for multiple words being anagrams or "antigrams." Spaces and punctuation shouldn't count (so they should be removed). You'll need to make sure that each word in the inputted phrases is really a word (passing condition #4 above). You may want to use a regular expression to remove additional characters.</p>
<form action="/anagrams_result">
  <div class="form-group">
     <label for="first_word">First word or phrase to compare:</label>
     <input id="first_word" name="first_word" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="second_word">Second word or phrase to compare:</label>
     <input id="second_word" name="second_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
